@import "tailwindcss";

@theme {
  /* Fontes */
  --font-snPro: "snPro", sans-serif;
  --font-snPro-bold: "snPro-bold", sans-serif;
  --font-notable: "notable", sans-serif;
   --font-fascinate: "fascinate", sans-serif;
   --text-7.5xl: 5rem;
   --text-4.5xl: 2.50rem;

  /* Cores */
  --color-preto: #262626;
  --color-azul: #699FDB;
  --color-azul-escuro: #4F83BE;
  --color-verde: #6398A8;
  --color-verde-escuro: #4C7683;
  --color-vermelho: #EA6F6F;
  --color-vermelho-escuro: #DE5F5F;
  --color-bege: #F6E8DD;
  --color-bege-escuro: #E8D5C7;

  /*Tamanhos*/
  --text-xxs: 0.65rem;
  --w-86: 20rem;

  /* Animações */
  --animate-pulse-color: pulse-color 10s cubic-bezier(0.7, 0, 0.7, 1) infinite;
}

@keyframes pulse-color {
  0%, 100% {
    background-color: #4C7683; 
  }
  25% {
    background-color: #699FDB; 
  }
  50% {
    background-color: #EA6F6F; 
  }
}

/* Fontes */
@font-face {
  font-family: "snPro";
  src: url("../src/fonts/snPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "snPro-bold";
  src: url("../src/fonts/snPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "notable";
  src: url("../src/fonts/Notable-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fascinate";
  src: url("../src/fonts/Fascinate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

